<div class="page-header">
    <h1>{{stock.heading}}</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 animate-on-change="stock.price">{{stock.price}}</h2>
                <div ng-class="{ 'text-success': stock.currentChange[0] != '-', 'text-danger': stock.currentChange[0] == '-' }"
                     animate-on-change="stock.currentChange">
                    {{stock.currentChange}}({{stock.currentChangeInPercent}})
                </div>
                <hr role="presentation" class="divider"/>
                <div class="col-md-4">
                    <p><strong>Bid</strong> ...</p>
                    <p><strong>Ask</strong> ...</p>
                    <p><strong>High</strong> {{stock.high}}</p>
                    <p><strong>Low</strong> {{stock.low}}</p>
                    <p><strong>Prev Close</strong> {{stock.close}}</p>
                    <p><strong>Open</strong> {{stock.open}}</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Trades</strong> ...</p>
                    <p><strong>Volume</strong> {{stock.volume}}</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Last Trades</h3></div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-3">Date</th>
                        <th class="col-md-3">Price</th>
                        <th class="col-md-3">Quantity</th>
                        <th class="col-md-3">Worth</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="transaction in stock.transactions">
                        <td>{{transaction.time}}</td>
                        <td>${{transaction.price}}</td>
                        <td>{{transaction.quantity}}</td>
                        <td>${{transaction.worth}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Actions</h3></div>
            <div class="panel-body">
                <button ng-click="stock.openOrderForm('BUY', stock.symbol)" type="button"
                        class="btn btn-default btn-block">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Buy
                </button>
                <button ng-click="stock.openOrderForm('SELL', stock.symbol)" type="button"
                        class="btn btn-default btn-block">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Sell
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Get Email Notification</h3></div>
            <div class="panel-body">
                <div alertbox></div>
                <form class="form-signin" ng-submit="stock.submitNotification()">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input ng-model="stock.notification.price" type="text" class="form-control" placeholder="Price">
                        <div class="input-group-btn">
                            <button type="submit"
                                    class="btn btn-default">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">History</h3></div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="stock.data" chart-labels="stock.labels"
                        chart-legend="true" chart-series="stock.series"></canvas>
            </div>
        </div>
    </div>
</div>
