body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
}

.container .text-muted {
    margin: 20px 0px;
}