<div class="page-header">
    <h1>Register</h1>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="account-wall">

            <uib-alert ng-repeat="alert in register.alert.getAlerts()" type="{{alert.type}}"
                       close="register.alert.close($index)">
                {{alert.msg}}
            </uib-alert>

            <form class="form-signin" name="registerForm" ng-submit="register.registerAction()" novalidate>
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name"
                           ng-model="register.user.name"
                           required/>
                    <div class="help-block" ng-messages="registerForm.name.$error"
                         ng-if="registerForm.name.$touched">
                        <p ng-message="required">Your name is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email"
                           ng-model="register.user.email"
                           ng-minlength="5"
                           required autofocus/>
                    <div class="help-block" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched">
                        <p ng-message="minlength">Your email is too short.</p>
                        <p ng-message="required">Your email is required.</p>
                        <p ng-message="email">This needs to be a valid email</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password"
                           ng-model="register.user.password"
                           ng-minlength="5"
                           required autofocus/>
                    <div class="help-block" ng-messages="registerForm.password.$error"
                         ng-if="registerForm.password.$touched">
                        <p ng-message="minlength">Your password is too short.</p>
                        <p ng-message="required">Your password is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
